<section class="py-32 relative overflow-x-clip px-2 md:px-0">
  <div class="container mx-auto text-white z-10 relative">
    <div class="text-center space-y-8">
      <h1
        class="font-bold text-5xl md:text-7xl drop-shadow-[3px_3px_0_rgba(236,72,153,1)]"
      >
        SOLPAKA. Chill and grow fleece.
      </h1>
      <h2 class="text-xl">SOLPAKA spits on taxes and non-believers!</h2>
      <p class="text-xs italic">
        Please be advised that SOLPAKA is a cryptocurrency created for
        entertainment purposes.
      </p>
    </div>
  </div>
  <div
    class="absolute bg-pink-500 h-[400px] w-[400px] blur-[300px] top-0 left-0 z-0"
  >
  </div>
  <div
    class="absolute bg-emerald-500 h-[400px] w-[400px] blur-[300px] bottom-0 right-0 z-0"
  >
  </div>
</section>
