---
import Button from "../../components/Button.astro";
import Clipboard from "../../components/Clipboard.astro";
---

<section class="py-24 px-2 md:px-0">
  <div class="container mx-auto text-white">
    <div>
      <h1
        class="font-bold text-5xl md:text-7xl drop-shadow-[3px_3px_0_rgba(236,72,153,1)]"
      >
        SOLPAKA Tokenomics
      </h1>
      <h2 class="text-xl">SOLPAKA spits on taxes and non-believers!</h2>
    </div>

    <div
      class="flex flex-col md:flex-row items-center justify-between gap-4 my-16 flex-wrap"
    >
      <div
        class="p-8 border-2 w-full md:w-auto flex-1 border-pink-500 rounded-md text-4xl font-bold shadow-lg shadow-pink-500"
      >
        0% Taxes
      </div>
      <div
        class="p-8 border-2 w-full md:w-auto flex-1 border-pink-500 rounded-md text-4xl font-bold shadow-lg shadow-pink-500"
      >
        0 Minting
      </div>
      <div
        class="p-8 border-2 w-full md:w-auto flex-1 border-pink-500 rounded-md text-4xl font-bold shadow-lg shadow-pink-500"
      >
        0% F00ks
      </div>
      <div
        class="p-8 border-2 w-full md:w-auto flex-1 border-pink-500 rounded-md text-4xl font-bold shadow-lg shadow-pink-500"
      >
        100% LP Burns
      </div>
    </div>

    <div class="space-y-8">
      <h2 class="text-4xl font-bold">
        SOLPAKA Total Supply: <u>696,904,200</u> (That's a lot of fleece)
      </h2>
      <h2 class="text-xl">
        No taxes, no additional minting, no f00ks given by SOLPAKA. <br /> LP tokenas
        are burned and contract ownership is renounced. Just like that... Chill and
        spit on the non-believers!
      </h2>
      <div
        class="p-8 border-2 border-pink-500 rounded-md text-xl font-bold shadow-lg shadow-pink-500 mb-8"
      >
        <h2>SOLPAKA contract address:</h2>
        <span class="flex gap-2 items-center">
          <Clipboard copy="BDHqX9YfJE3M6caox3obUX5YpWHz2cjnGFiZJtRghdCo" />
          <p class="break-all">
            BDHqX9YfJE3M6caox3obUX5YpWHz2cjnGFiZJtRghdCo
          </p>
        </span>
      </div>
      <div>
        <a href="#" target="_blank">
          <Button>Buy Your SOLPAKA</Button>
        </a>
      </div>
    </div>
  </div>
</section>
