---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import Tokenomics from "../components/sections/Tokenomics.astro";
import Footer from "../components/sections/Footer.astro";
---

<Layout title="SOLPAKA">
  <main>
    <Hero />
    <Tokenomics />
    <Footer />
  </main>
</Layout>
